<?xml version="1.0"?>
<robot name="dishz">
  <link name="dish">
    <visual>
      <origin xyz="0 0 0.0075"/>
      <geometry>
        <cylinder length="0.015" radius="0.02"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.0075"/>
      <geometry>
        <cylinder length="0.015" radius="0.02"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>
    <friction friction="10" />
  </link>
</robot>
